
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/SoccerNewsStreamerApp.iml
app/__pycache__/run.cpython-38.pyc
app/config.py
app/tweet_stream.log
twitter_stream/tweet_stream.log
