{% extends "base.html" %}
{% block content %}
     <style>
        li.stream
        {
            font-size: 15px;
            color: #555;
        }
    </style>
    <div id = "homepage">
        <div class = "stream-wrapper">
            <div class="card scroll" style="width: 18rem;">
              <!--<img class="card-img-top" src="..." alt="Card image cap">-->
              <div class="card-body">
                <h5 class="card-title">Your Tweets</h5>
                <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
              </div>
              <!--<div class="card-body">-->
                <!--&lt;!&ndash;<a href="#" class="card-link">Card link</a>&ndash;&gt;-->
              <!--</div>-->
            </div>
        </div>
    </div>

    <!--<div id = "homepage">-->
        <!--&lt;!&ndash;<h3 class = "header">Twitter Stream</h3>&ndash;&gt;-->
          <!--<div class="column">-->
            <!--<div class="stream-wrapper">-->
                <!--<div class="card">-->
                    <!--<img src="..." class="card-img-top" alt="...">-->
                    <!--<div class="card-body">-->
                        <!--<h5 class="card-title">Card title</h5>-->
                        <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                    <!--</div>-->
                    <!--<div class="card-footer">-->
                        <!--<small class="text-muted">Last updated 3 mins ago</small>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
          <!--</div>-->
    <!--</div>-->

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function() {
            socket.emit('my event', {data:'I\'m connected!'});
            console.log("butthole?");

        });
        socket.on('tweet_response', function(tweet) {
            $('div.card-body').append('<p class ="card-text">'+tweet.tweet+'<a href='+tweet.tweet_link+'>'+tweet.tweet_link+'</a></p>')
            console.log(tweet.tweet);
            console.log(tweet.tweet_link);
        });
        socket.on('stinky', function(msg) {
            console.log(msg);
        });

    </script>
{% endblock content %}